<!DOCTYPE html>
<html lang="{{ config["BABEL_DEFAULT_LOCALE"] }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{
			gettext("Reset your password for {meta_name}").
			format(meta_name=config["META_NAME"])
		}}</title>
		<style type="text/css">
			body {
				font-family: sans-serif;
			}

			.button {
				display: inline-block;
				background: #5e77ff;
				padding: 10px;
				border-radius: 5px;
				color: #fff;
				text-decoration: none;
				transition: 0.15s;
				margin-top: 5px;
				margin-bottom: 5px;
			}

			.button:hover, .button:focus {
				background: #4562ff;
			}
		</style>
	</head>
	<body>
		<header>
			<h1>{{ gettext("Hello!") }}</h1>
		</header>
		<main>
			<p>
				{{
					gettext(
						"We received a request to reset your password {meta_name}. "
						"If this was you, please use the button below to set a new one."
					).
					format(meta_name=config["META_NAME"])
				}}
			</p>
			<a class="button" href="{{ password_reset_url }}">{{ gettext("Reset password") }}</a>
			<p>
				{{ gettext("Or use this link: ") }}
				<a
					href="{{ password_reset_url }}"
				>{{ password_reset_url }}</a>
			</p>
		</main>
		<footer>
			<hr>
			<small>
				{{
					gettext(
						"If you're sure this was not you, you can most likely ignore "
						"this email. For additional support, you can also contact us "
						"at: "
					)
				}}
				<a href="mailto:{{ config["META_CONTACT"] }}">{{ config["META_CONTACT"] }}</a>
			</small>
		</footer>
	</body>
</html>
